<template name="home">
    {{> nav}}
  <div class ="content">
    {{> feed}}
  </div>
</template>

<template name="feed">
  <ul class="table-view">
    {{#each user}}
    <div class="card" id="{{username}}">
      <li class="table-view-cell media">
        <a class="navigate-right">
          <img class="media-object pull-left" src="http://placehold.it/42x42">
          <div class="media-body">
            <h4>{{profile.fullName}}</h4>
            <p>Age: {{profile.age}}<br>
              Date of stroke: {{profile.strokeDate}}<br>
              Type of stroke: {{profile.strokeType}}</p>
          </div>
        </a>
      </li>
    </div>
    {{/each}}
  </ul>
</template>


<template name="userProfile">
  <!-- profile object is sent to this template from the /u/:username route in router.js -->
  {{profile.fullName}}
  {{profile.age}}
</template>
